.profileCard {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    padding: 5px;
    left: 25px;
    top: 60px;
    height: 85vh;
    width: 95%;
    border: 2px skyblue solid;
    box-shadow: inset 0px 0px 10px rgba(255, 255, 255, 0.5),
              0px 0px 20px rgba(255, 255, 255, 0.2);
    
}

.name {
    font-family: monospace;
    font-size: 32px;
    color: lavender;
    margin: 5%;
}

